
.jumbotron
{
   width:500pt;
   height:450pt;
   display: inline-block;
   margin-top: 40pt;
   margin-left: 40pt;
   background-color: rgba(184, 227, 255, 0.295);
   border-radius: 20px;
}

select {
    
      width: 80%;
      height: 52px;
      color: #333333;
      padding: 15px 40px 15px 15px;
      border-radius: 5px;
      font-size: 14px;
      margin-left: 10px;
      border: 1px solid rgba(0, 0, 0, 0.3);
      box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
}


img
{
    margin: 60px auto;
	width: 250pt;
	height: 400pt;
	position: relative;
	border-radius: 10px;
    overflow: hidden;
    float:left;
	
}

input
{
   
    width: 80%;
    height: 60px;
    color: #333333;
    padding: 15px 40px 15px 15px;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 10px;
   
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
}

.titulos
{
    font-family: 'PT Serif', serif;
    font-size: 20pt;
    text-align: center;
    color: black;
}

button 
{
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    margin: 8pt 8pt;
    margin-left: 140pt;
    border: none;
    cursor: pointer;
    width: 150pt;
    border-radius: 10px;
    
}
