<div class="container">

<div class="column">

 <img alt="Banner Contacto" src="../assets/bannercontacto.png"> 


</div>
<div class="column">
<div class="jumbotron jumbotron-fluid">
  
<form [formGroup]="myForm" [hidden]="success" (ngSubmit)="submitHandler()">
  
  <label for="select" class="titulos"><strong>¿Por qué nos escribes hoy?</strong></label>

      <br>

    
      <input id="mensaje" type="text" formControlName="nombre" class="form-control my-4" placeholder="Ingresa tu nombre y tu apellido">

      <input id="mensaje" type="text" formControlName="email" class="form-control my-4" placeholder="Ingresa tu correo electrónico" >

      <label class="titulo">Motivo del contacto</label>
      <select formControlName="motivo" >
        <option>Pregunta</option>
        <option>Reservaciones</option>
        <option>Reclamos</option>
        <option>Sugerencias</option>
        <option>Elogios</option>
      </select>
  
      <input id="mensaje" type="text" maxlength="2000" placeholder="Escribe tu mensaje para nosotros..." formControlName="mensaje" class="form-control my-4">
  
    <button type="submit" [disabled]="myForm.invalid"><strong>Enviar</strong></button>
  
</form>

<div *ngIf="success" class="notification is-success titulo">
¡Tu mensaje fue enviado exitosamente!

</div>

</div>

</div>
</div>