<br>
<br>
<h1 class="titulos2">Contacto</h1>

<div>

  <form>
    <div class="container">
      <label for="select" class="titulos">¿Por qué nos escribes hoy?</label>

      <br>

      <select id="select">
        <option>Pregunta</option>
        <option>Reservaciones</option>
        <option>Reclamos</option>
        <option>Sugerencias</option>
        <option>Elogios</option>
      </select>
    </div>

    <div>
      <label for="mensaje" class="titulos">Mensaje</label>
      <br>
      <input id="mensaje" type="text" maxlength="2000" placeholder="Longitud máxima: 2000 caracteres">
    </div>
    
    <button class="btn btn-primary" type="submit" onclick="location='./contact'">Enviar</button>
  </form>
</div>