<div>
  <form (ngSubmit)="onSubmit()" class="col s6">
    <div class="row">
      <input type="text" placeholder="Agregar nombre" [(ngModel)]="item.nombre" name="nombre">
      <label>Nombre</label>
    </div>
    <div class="row">
        <input type="text" placeholder="Agregar descripción" [(ngModel)]="item.descripcion" name="descripcion">
        <label>Descripcion</label>
    </div>
    <div class="row">
        <input type="number" placeholder="Agregar Precio" [(ngModel)]="item.precio" name="precio">
        <label>Precio</label>
    </div>
    <div class="row">
        <input type="text" placeholder="Agregar Referencia a Imagen" [(ngModel)]="item.imagen" name="imagen">
        <label>Imagen</label>
    </div>
    <input type="submit" value="submit" class="btn">
  </form>
</div>
