<div style="margin: 5%">
    <h1>Carrito</h1>
    <br>

    <div *ngIf=" carrito.length > 0 ; else emptyCart">
        <table class="center">
            <tr>
                <th>Imgen</th>
                <th>Plato</th>
                <th>Descripción</th>
                <th>Extras</th>
                <th>Precio</th>
                <th></th>
            </tr>
            <tr *ngFor="let item of carrito">
                <td class="styled"><img src="{{item.imagen}}" heigth="100px" width="100px"></td>
                <td class="styled">{{item.nombre}}</td>
                <td class="styled">{{item.descripcion}}</td>
                <td class="styled"><p *ngIf="item.selected1">{{item.extra1}}</p>
                    <p *ngIf="item.selected2">{{item.extra2}}</p>
                    <p *ngIf="item.selected3">{{item.extra3}}</p></td>
                <td class="styled">{{item.precio | currency : 'Bs.S ' : 'code' : '1.2-2'}}</td>
                <td class="styled"><button (click)="removeItem($event, item)"><strong>ELIMINAR</strong></button></td>
            </tr>
        </table>

        <div style="text-align: center">
                <br>
                <h4>Subtotal: {{ subtotal | currency : 'Bs.S ' : 'code' : '1.2-2' }}</h4>
                <h4>IVA (16%): {{ iva | currency : 'Bs.S ' : 'code' : '1.2-2' }}</h4>
                <h4>Envío (4%): {{ envio | currency : 'Bs.S ' : 'code' : '1.2-2' }}</h4>
                <h4>Total: {{ total | currency : 'Bs.S ' : 'code' : '1.2-2' }}</h4>
                <br>
                <button (click)="addFirebase($event)"><strong>PROCEDER A PAGO</strong></button>
        </div>
    </div>
</div>

<ng-template #emptyCart>
    <br>
    <h3>El carrito está vacío.</h3>

</ng-template>