<div style="margin: 5% ; width: 90%">
    <h1>Carrito</h1>
    <br>

    <div *ngIf=" carrito.length > 0 ; else emptyCart">
        <table>
            <tr>
                <th>Imgen</th>
                <th>Plato</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th></th>
            </tr>
            <tr *ngFor="let item of carrito">
                <td><img src="{{item.imagen}}" heigth="100px" width="100px"></td>
                <td>{{item.nombre}}</td>
                <td>{{item.descripcion}}</td>
                <td>{{item.precio | currency : 'Bs.S ' : 'code' : '1.2-2'}}</td>
                <td><button (click)="removeItem($event, item)"><strong>ELIMINAR</strong></button></td>
            </tr>
        </table>
    </div>
    <br>
    <h4>Subtotal: {{ subtotal | currency : 'Bs.S ' : 'code' : '1.2-2' }}</h4>
    <h4>IVA (16%): {{ iva | currency : 'Bs.S ' : 'code' : '1.2-2' }}</h4>
    <h4>Envío (4%): {{ envio | currency : 'Bs.S ' : 'code' : '1.2-2' }}</h4>
    <h4>Total: {{ total | currency : 'Bs.S ' : 'code' : '1.2-2' }}</h4>
    <br>
    <button (click)="addFirebase($event, carrito)"><strong>PAGAR</strong></button>
</div>

<ng-template #emptyCart>
    <br>
    <h3>El carrito está vacío.</h3>

</ng-template>