<div class="tabla1"> 

    <div class="jumbotron"> 
  
  <form (ngSubmit)="onSubmit()" class="col s6">

        <label class="titulos">Añadir Producto</label>
    <div class="row">

      <input class=" my-3 "type="text" placeholder="Agregar nombre" [(ngModel)]="item.nombre" name="nombre">
    </div>

    <div class="row">
        <input  class=" my-3 " type="text" placeholder="Agregar descripción" [(ngModel)]="item.descripcion" name="descripcion">
        
    </div>

    <div class="row">
  
        <input type="number"  class=" my-3 " placeholder="Agregar Precio" [(ngModel)]="item.precio" name="precio">
   
    </div>


    <div class="row">
  
        <input type="text"  class=" my-3 " placeholder="Agregar Referencia a Imagen" [(ngModel)]="item.imagen" name="imagen">
      
    </div>

    <button type="submit" value="submit" class="btn"> AÑADIR </button>

  </form>
 </div>
</div>

   