
    <div class="jumbotron" style="text-align: center"> 
  
  <form (ngSubmit)="onSubmit()" class="col s6">

        <label class="titulos"><strong>---Añadir Producto---</strong></label>
    <div class="row">

      <input class=" my-3 "type="text" placeholder="Agregar nombre" [(ngModel)]="item.nombre" name="nombre">
    </div>

    <div class="row">
        <input  class=" my-3 " type="text" placeholder="Agregar descripción" [(ngModel)]="item.descripcion" name="descripcion">
        
    </div>

    <div class="row">
  
        <input type="number"  class=" my-3 " placeholder="Agregar Precio" [(ngModel)]="item.precio" name="precio">
   
    </div>


    
        <div class="form-group">
           
        <input type="file" name="filename" (change)="onFileSelected($event)" [(ngModel)]="item.imagen" accept="image/jpg, image/jpeg, image/png">
          <button type="button" (click)="onUpload()">Subir Archivo</button>
        </div>

    <p>*El producto estará disponible en el menú como opción predeterminada.</p>

    <button type="submit" value="submit" class="btn"> AÑADIR </button>

  </form>
 </div>


   