<div class="container">
    
<div>
<div style="text-align:center">
    <br>
    <img width="100%" height="200pt" alt="Banner Nosotros" src="../assets/bannernosotros.jpg">
    
    <div class="flex-container">
        <div>
          <br>
              <h1 class="titulos" ><strong>--  STEAK RESTAURANTES  --</strong></h1>
              <h2 class="texto">
                  Somos una franquicia reconocidad mundialmente por hacerte sentir el sabor y el olor de la parrilla. 
                  Pensamos en invertir en Venezuela, ya que hay muchas personas talentosas e innovadoras en nuestro país, como también tenemos una excelente 
                  calidad de carne, pollo, vegetales y otros alimento en Venezuela. Por ello nuestros platos se diferencian de cualquiera que usted haya probado.
                  Nos posicionamos actualmente en el puesto #1 según el ranking de restaurantes de carnes de degusta.com y tripadvisor.com.   
                  Nuestra meta es hacerte agua la boca con nuestros suculentos platos. </h2>
          <div>
            <br>
              <h1 class="titulos"><strong>--  HISTORIA  --</strong> </h1>
              <h2 class="texto">
                  El restaurante Steak de Caracas, uno de los locales más prestigiosos de Venezuela. El potenciador de la comida a la leña y carbon es del señor Manuel 
                  Barbosa Da Silva y ha sido reconocido 10 veces en los ultimos 2 años en los Premios de Gastronomía Nacional. 
                  Barbosa inauguro el restaurante Steak hace 35 años.  
                  <br>
                  <br>
                  
                  <strong><i>"No quisimos que Steak fuese un boom que solo levanta un restaurante ahora y lo hunde mañana, sino que se mantenga por generaciones y generaciones. 
                      Por eso, aunque es que restaurante nunca buscó el reconocimiento a través de la publicidad o la decoración, sino por el boca a boca de los que nos probaban."  -Barbosa Manuel</i></strong>
              </h2>
              <br>
              <br>
          
        </div>
    </div>
</div>