.flex-container {

    display: flex;
    flex-direction: row;
    }
  
  .flex-container > div 
  {
    width: 90%;
    margin: 10px;
   
    text-align: center;
    line-height: 85px;
  }
  
  
  .titulos
  {
    font-family: 'Anton', sans-serif;
    font-size: 30pt;
    text-align: center;
    color: #500909;
    
  }
  
  .texto
  {
    font-family: 'PT Serif', serif;
    font-size: 16pt;
    text-align: justify;
    color: rgb(0, 0, 0);
  }

 


