<div>
  <br>
  <br>
  <h1 class="titulos2">
    Registro de usuario
  </h1>

  <div>
    <form>
      <div class="container">
          <label for="email" class="titulos">Correo</label>
          <input type="text" id="email" placeholder="correo@ejemplo.com">
      
          <label for="usuario" class="titulos">Nombre de usuario</label>
          <input type="text" id="usuario" placeholder="Usuario">        
        
          <label for="clave" class="titulos">Clave</label>
          <input type="password" id="clave">
        
          <label for="clave2" class="titulos">Repita su clave</label>
          <input type="password" id="clave2">        
        
          <button class="btn btn-primary" onclick="location='./home'">Registrar</button>
          <button class="btn btn-secondary" onclick="location='./login'">Cancelar</button>
      </div>
    </form>
  </div>
</div>