
      <footer id="myFooter">
          <div class="container">
              <div class="row">
                  <div class="col-sm-3 myCols">
                      <h5>Home</h5>

                  </div>
                  <div class="col-sm-3 myCols">
                      <h5>Menu</h5>
                      <ul>
                          <li><a href="#">Aperitivos</a></li>
                          <li><a href="#">Carnes</a></li>
                          <li><a href="#">Bebidas</a></li>
                          <li><a href="#">Postres</a></li>
                      </ul>
                  </div>
                  <div class="col-sm-3 myCols">
                      <h5>Steak</h5>
                      <ul>
                          <li><a href="#">Nosotros</a></li>
                          <li><a href="#">Contacto</a></li>
                      </ul>
                  </div>
                  <div class="col-sm-3 myCols">
                      <h5>Perfil</h5>
                      <ul>
                          <li><a href="#">Ver Carrito</a></li>
                          <li><a href="#">Ver Órdenes Pasadas</a></li>
                          <li><a href="#">Cerrar Sesión</a></li>
                      </ul>
                  </div>
              </div>
          </div>
       
          <div class="footer-copyright">
              <p> 2018 Copyright STEAK Restaurant </p>
          </div>
      </footer>
      