<!--Footer-->
<footer id="myFooter">
    <div class="container">

        <div class="row">
               
            <div class="col-sm-3 myCols">
                <br>
                <br>
                <br>
                <a href="#" style="font-size: 16pt"><strong>Home</strong></a>
            </div>
                <div class="col-sm-3 myCols">
                      <h5>Menu</h5>
                      <ul>
                          <li><a href="./menu/aperitivos">Aperitivos</a></li>
                          <li><a href="./menu/carnes">Carnes</a></li>
                          <li><a href="./menu/bebidas">Bebidas</a></li>
                          <li><a href="./menu/postres">Postres</a></li>
                      </ul>
                  </div>
                  <div class="col-sm-3 myCols">
                      <h5>Steak</h5>
                      <ul>
                          <li><a href="./about">Nosotros</a></li>
                          <li><a href="./contact">Contacto</a></li>
                      </ul>
                  </div>
                  <div class="col-sm-3 myCols">
                      <h5>Perfil</h5>
                      <ul>
                          <li><a href="#">Cambiar Contraseña</a></li>
                          <li><a href="#">Ver Carrito</a></li>
                          <li><a href="#">Ver Órdenes Pasadas</a></li>
                          <li><a href="#">Cerrar Sesión</a></li>
                      </ul>
                  </div>
              </div>
          </div>
       
          <div class="footer-copyright">
              <p> 2018 Copyright STEAK Restaurant </p>
          </div>
      </footer>
      