
<div class="flex-container">
    <div>
      <br>
          <img width="350" alt="Unknown Imagen" src="../assets/imagen.png">
        
    </div>
      <div>
         <br>
        
         <h1 class="titulos">Información del Usuario</h1>
         
          <h3 class="texto">Nombre y Apellido: </h3>
          
          <h3 class="texto">Usuario: </h3>
          
          <h3 class="texto">Contraseña: *********</h3>

          <h3 class="texto">Dirección Predeterminada:</h3>
        
          <h3 class="texto">Teléfono Predeterminado:</h3>

          <button type="button" type="submit"  class="btn btn-primary" disabled>Editar Datos Personales y Contraseña</button>
          <br>

          <button type="button" type="submit"  class="btn btn-primary" disabled>Ver Órdenes Anteriores</button>
          <br>
          <button type="button" type="submit"  class="btn btn-primary" disabled>Ver Compra Actual </button>
          <br>
          <button type="button" type="submit"  class="btn btn-primary" disabled>Cerrar Sesión</button>
          <br>

    </div>
</div>
