.navbar
{
       
        background-color:rgba(151, 151, 151, 0.637);
        font: arial ;
        height:10%;
}

.titulos
{
    font-family: 'PT Serif', serif;
    color: black;
    font-size: 25pt;
    margin-top: 5pt;
}

li {
        margin: 2pt;
}

.opciones
{
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14pt 16pt;
        text-decoration: none;
        display: block;
}