
.navegacion
{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgba(108, 106, 109, 0.493);
        position: sticky;
        top: 0;
        font: arial ;
        font-size: 20px;;
    
}

.opciones
{
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        display: block;
}