<nav class="navbar sticky-top navbar-expand-lg" *ngIf="nav.visible">
 
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      
      <a class="navbar-brand" href="#"></a>
      <ul class="navbar-nav nav-fill w-100">
        
        <li>
            <a href='./home'><img width="150" alt="Steak Logo" src="../assets/logo.png" ></a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" class="titulos" href="./home"><strong>Home</strong></a>
        </li>

        <li class="nav-item active">
            <a class="nav-link" class="titulos" href="./menu"><strong>Menú</strong></a>
        </li>

        <li class="nav-item active">
            <a class="nav-link" href="./about" class="titulos"><strong>Nosotros</strong></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" class="titulos" href="./contact"><strong>Contacto</strong></a>
        </li>

        <li>
            <div class="btn-group" dropdown>
                <button id="button-custom-html" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                        aria-controls="dropdown-custom-html">
                  Button dropdown <span class="caret"></span>
                </button>
                <ul id="dropdown-custom-html" *dropdownMenu class="dropdown-menu"
                    role="menu" aria-labelledby="button-custom-html">
                  <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                  <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                  <li role="menuitem"><a class="dropdown-item" href="#"><span class="badge badge-secondary">Some HTML here</span></a></li>
                </ul>
              </div>

        </ul>
        
  
  <!-- Es importante mejorar este dropdown para otra entrega

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Menu
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="./menu/aperitivos">Aperitvos</a>
              <a class="dropdown-item" href="./menu/carnes">Carnes</a>
              <a class="dropdown-item" href="./menu/postres">Postres</a>
              <a class="dropdown-item" href="./menu/bebidas">Bebidas</a>
            </div>

          </li>
        
        -->
    </div>
  </nav>