<nav class="navbar sticky-top navbar-expand-lg" *ngIf="nav.visible">
 
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    
    <a class="navbar-brand" href="#"></a>
    <ul class="navbar-nav nav-fill w-100">
      
      <li>
          <a href='./home'><img width="150" alt="Steak Logo" src="../assets/logo.png" ></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" class="titulos" href="./home"><strong>Home</strong></a>
      </li>

      <li class="nav-item active">
          <a class="nav-link" class="titulos" href="./menu"><strong>Menú</strong></a>
      </li>

      <li class="nav-item active">
          <a class="nav-link" href="./about" class="titulos"><strong>Nosotros</strong></a>
      </li>

      <li class="nav-item">
          <a class="nav-link" class="titulos" href="./contact"><strong>Contacto</strong></a>
      </li>
</ul>
       </div>
</nav>
