<!--Barra de Navegación-->
<div>

<nav class="navbar navbar-expand-lg " *ngIf="nav.visible">
        <div style="text-align: center">
              <a class="navbar-brand" href='./home'><img width="150" alt="Steak Logo" src="../assets/logofondo.png" ></a>
              <br>
              <br>
            </div>
      
       <!-- <button class=" navbar-toggler" type="button" >(click)="toggleNavbar()"-->
          <!--<span class="navbar-toggler-icon"></span>
          </button>-->

          
<!--LINKS DEL HEADER-->

          <!--<div class="collapse navbar-collapse " style="text-align: center" > [ngClass]="{ 'show': navbarOpen }"-->
          <div style="text-align: center">
          <ul class="navbar-nav mr-auto">

         <div *ngIf=" authService.user | async">
                <p> ¡Bienvenido {{ (authService.user | async)?.email }}!</p>
         </div>
  
                
            <li class="nav-item"  *ngIf=" authService.user | async">
    
                <a class="nav-link" class="titulos"  href="#" (click)="onClickLogout()"><strong>Cerrar Sesión</strong></a>
               
              </li>
  
         <li *ngIf="admin == 'false'" class="nav-item">
    
              <a class="nav-link" class="titulos" href="./ordenes_pasadas"><strong>Órdenes Pasadas</strong></a>
          
            </li>



          <li *ngIf="admin == 'false'" class="nav-item">
    
              <a class="nav-link" class="titulos" href="./cart"><strong>Carrito</strong></a>
          
            </li>

          <li *ngIf="admin == 'false'" class="nav-item">
    
              <a class="nav-link" class="titulos" href="./contact"><strong>Contacto</strong></a>
          
            </li>
         
         
         <li *ngIf="admin == 'false'" class="nav-item ">
    
              <a class="nav-link" href="./about" class="titulos"><strong>Nosotros</strong></a>
         
            </li>

            <li class="nav-item ">
    
              <a class="nav-link" (click)="changepassword()" class="titulos"><strong>Cambiar contraseña</strong></a>
         
            </li>
         
         
         
            <li class="nav-item">
          
            <a class="nav-link" class="titulos" href="./menu"><strong>Menú</strong></a>
          
          </li>
          <li class="nav-item">
            
            <a class="nav-link" class="titulos" href="./home"><strong>Home</strong></a>
        
        </li>

          
            



    <!-- 
          <li class="nav-item dropdown">


         <div *ngIf=" authService.user | async">
           <span> <a class="nav-link" class="titulos" style="color: white" ><strong>Perfil</strong></a></span>
           <br>
           <br>
           <br>
           <br>

        
           <p class="dropdown-content" style="color: white"> ¡Bienvenido  <br>{{ (authService.user | async)?.email }}!</p>
          
            <br>
                <a class="dropdown-content" href="./cart"><strong>Carrito</strong></a>
            <br>
            <br>
                <a class="dropdown-content" href="./perfil"><strong>Órdenes Pasadas</strong></a>
            <br>
            <br>
                <a class="dropdown-content" href="#" (click)="onClickLogout()" ><strong>Cerrar Sesión</strong></a>
          </div>

          </li>  
    -->
    </ul>
           </div>
    </nav>
     
  </div>