  <div style="text-align:center">
    <br>
    <a href="./menu/postres"> <img width="74%" height="200pt"alt="Banner Postres" src="../assets/bannerpostres.jpg"> </a>
    <br>
    <br>
  </div>

  <div *ngIf="items.length > 0; else noItems">

        <table>
            <tr>
                <th>Imgen</th>
                <th>Plato</th>
                <th>Descripción</th>
                <th>Precio</th>    
                <th></th>
            </tr>
            <tr *ngFor="let item of items">
                <td><img src="{{item.imagen}}" heigth="100px" width="100px"></td>
                <td>{{item.nombre}}</td>
                <td>{{item.descripcion}}</td>
                <td>{{item.precio}}</td>
                <td><button><strong>ORDENAR</strong></button></td>
            </tr>
        </table>
    
    
        <!--<ul *ngFor="let item of items" class="collection">
            <li class="collection-item">
                <img src="{{item.imagen}}">
                {{item.nombre}}
                {{item.descripcion}}
                Precio: {{item.precio}} Bs.S
            </li>
        </ul>-->
    </div>
    
    
    <ng-template #noItems>
        <hr>
        <h5>No hay objetos para visualizar</h5>
    </ng-template>