table {
    font-family: 'PT Serif', serif;
    font-size: 20pt;
    text-align: justify;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  .content-box-red {
    background-color: #f9dbdb;
    border: 1px solid #e9b3b3;
    }