  <div style="text-align:center">
    <br>
    <a href="./menu/postres"> <img width="74%" height="200pt"alt="Banner Postres" src="../assets/bannerpostres.jpg"> </a>
    
    <div class="flex-container">
        <div>
              <img width="250" alt="Helado EFE" src="../assets/IceCream.jpg"></div>
          <div>
            <br>
              <h1 class="titulos"><strong>Helado</strong> </h1>
            
          <div> 
              <h2 class="texto"> Helado especial, elaborado por EFE (Receta exclusiva para Steak Company), con mashmallows al fuego.  </h2>
              <h3 class="texto">Precio: 200 Bs. S.</h3>
              <button type="button" type="submit" weight="25pt" class="btn btn-primary" disabled>ORDENAR</button>
            </div>
        </div>
    </div>

    <div style="text-align:center">
        <div class="flex-container">
            <div>
                  <img width="250" alt="Brownie" src="../assets/brownie.jpg"></div>
              <div>
                  <h1 class="titulos"><strong>Brownie</strong> </h1>
              <div> 
                  
                  <h2 class="texto"> Brownie de chocolate con relleno fudge </h2>
                  <h3 class="texto">Precio: 200 Bs. S.</h3>
                  <button type="button" type="submit" weight="25pt" class="btn btn-primary" disabled>ORDENAR</button>
              </div>
            </div>
        </div>
    
      <div style="text-align:center">
              <div class="flex-container">
                  <div>
                        <img width="250" alt="Pie de Limón" src="../assets/piedelimon.jpg"></div>
                    <div>
                        <br>
                        <h1 class="titulos"><strong>Pie de Limón</strong> </h1>
                    <div> 
                        <h2 class="texto"> Pie de limon con ralladura de limon en la crème </h2>
                        <h3 class="texto">Precio: 200 Bs. S.</h3>
                        <button type="button" type="submit" weight="25pt" class="btn btn-primary" disabled>ORDENAR</button>
                    </div>
                  </div>
      </div>     
      <br>
      <br>
    
 <button type="button" type="submit"  class="btn btn-primary" onclick="location='../menu'">Volver al Menu</button>

     