  <div style="text-align:center">
    <div class="flex-container">
      <div><img width="300" alt="SteakLogo" src="../assets/Tbone.jpg"></div>
      <div><h1>T-Bone</h1>
        <div> <h2> Delicioso T-Bone, preparado a la parrilla con la suculenta Sal Marina de las salinas de Araya y un toque de pimienta.  </h2>
      </div>
      </div>
    </div>
    <div class="flex-container">
        <div><img width="300" alt="SteakLogo" src="../assets/Churrasco.jpg"></div>
        <div><h1>Churrasco</h1>
          <div> <h2> Exquisito Churrasco de Solomo Kobe, preparado a la brasa con Sal Marina de las famosas salinas de Araya y un toque de pimienta.  </h2>
        </div>
        </div>
    </div>
    <div class="flex-container">
        <div><img width="300" alt="SteakLogo" src="../assets/Chicken.jpg"></div>
        <div><h1>Pollo Envarasado</h1>
          <div> <h2> Pollo entero preparado en vara a la leña con Sal Marina de las salinas de Araya y un toque de pimienta.  </h2>
        </div>
        </div>
    </div>
    <div class="flex-container">
        <div><img width="300" alt="SteakLogo" src="../assets/Salchichas.jpg"></div>
        <div><h1>Salchichas</h1>
          <div> <h2> Salchichas de la Montserratina a la leña con un toque de cerveza Tovar para darle ese sabor inigualable.  </h2>
        </div>
        </div>
    </div>
  </div>
  <router-outlet></router-outlet>