<div style="text-align:center">
  <br>
  <img width="74%" height="200pt"alt="Banner Carnes" src="../assets/bannercarnes.jpg">
  
  <div class="flex-container">
      <div>
            <img width="250" alt="Churrasco" src="../assets/Churrasco.jpg"></div>
        <div>
          <br>
            <h1 class="titulos"><strong>Churrasco</strong> </h1>
          
        <div> 
            <h2 class="texto"> Exquisito Churrasco de Solomo Kobe, preparado a la brasa con Sal Marina de las famosas salinas de Araya y un toque de pimienta.  </h2>
            <button type="button" type="submit" weight="25pt" class="btn btn-primary" disabled>ORDENAR</button>
          </div>
      </div>
  </div>

  <div style="text-align:center">
      <div class="flex-container">
          <div>
                <img width="250" alt="T-Bone" src="../assets/Tbone.jpg"></div>
            <div>
                <br>
                <h1 class="titulos"><strong>T-Bone</strong> </h1>
            <div> 
               
                <h2 class="texto"> Delicioso T-Bone, preparado a la parrilla con la suculenta Sal Marina de las salinas de Araya y un toque de pimienta. </h2>
                <button type="button" type="submit" weight="25pt" class="btn btn-primary" disabled>ORDENAR</button>
            </div>
          </div>
      </div>
  
    <div style="text-align:center">
            <div class="flex-container">
                <div>
                      <img width="250" alt="Pollo Asado" src="../assets/Chicken.jpg"></div>
                  <div>
                      <br>
                      <h1 class="titulos"><strong>Pollo En Varasado</strong> </h1>
                  <div> 
                      <h2 class="texto">Pollo entero preparado en vara a la leña con Sal Marina de las salinas de Araya y un toque de pimienta.  </h2>
        
                      <button type="button" type="submit" weight="25pt" class="btn btn-primary" disabled>ORDENAR</button>
                  </div>
                </div>
    </div> 
    
    <div style="text-align:center">
      <div class="flex-container">
          <div>
                <img width="250" alt="Salchichas" src="../assets/Salchichas.jpg"></div>
            <div>
                <br>
                <h1 class="titulos"><strong>Salchichas</strong> </h1>
            <div> 
                <h2 class="texto">Salchichas de la Montserratina a la leña con un toque de cerveza Tovar para darle ese sabor inigualable.  </h2>
        
  
                <button type="button" type="submit" weight="25pt" class="btn btn-primary" disabled>ORDENAR</button>
            </div>
          </div>
</div>     

    <br>
    <br>

    <button type="button" type="submit"  class="titulo" onclick="location='../menu'" class="btn btn-primary">Volver al Menu</button>
    <br>
    <br>