<!--Barra de Navegación-->
<div>

    <nav>

            <div style="text-align: center">
                  <a class="navbar-brand" href='./admin'><img width="200" alt="Steak Logo" src="../assets/logofondo.png" ></a>
                  <br>
                  <br>
                </div>
  
              <div  class="navbar navbar-expand-lg" style="text-align: center">
              <ul class="navbar-nav mr-auto">
              
              <li class="nav-item">
                
                <a class="nav-link" class="titulos" href="./admin"><strong>Home</strong></a>
            
            </li>
 
              <li class="nav-item">
        
                  <a class="nav-link" class="titulos" href="./contact"><strong>Sugerencias</strong></a>
              
                </li>
        
              <li class="nav-item dropdown">
    

               <span> <a class="nav-link" class="titulos" ><strong>Modificar Menú</strong></a></span>
               
                <br>
                    <a class="dropdown-content" href="./aperitivos-admin"><strong>Aperitivos</strong></a>
                <br>
                    <a class="dropdown-content" href="./carnes-admin"><strong>Carnes</strong></a>
                <br>
                <a class="dropdown-content" href=".bebidas-admin"><strong>Bebidas</strong></a>
                <br>
                <a class="dropdown-content" href="./postres-admin"><strong>Postres</strong></a>
              </li>  
        
        </ul>
               </div>
        </nav>
         
      </div>
