<div class="container-fluid">

<div class="jumbotron jumbotron-fluid">

  
  <div style="text-align:center">
   
    <img width="250" alt="SteakLogo" src="../assets/logofondo.png">

  </div>
  <br>
  <br>
  <div class="container">
  <div class="row">
    
    <div class="col-md-10 col-md-offset-3">
              
      <form [formGroup]="loginForm">
        
        <div class="form-group">
          
          <h1 class="titulo"><strong>Inicia sesión en STEAK</strong></h1>
          <!--Ingreso del correo electrónico en el formulario-->
          <br>
          <input type="email" formControlName="email" class="form-control" placeholder="Ingresa tu correo electrónico">
        </div>

        <div class="form-group">
          
          <!--Ingreso de la contraseña en el formulario-->
          
          <input type="password" class="form-control" formControlName="password" placeholder="Ingresa tu contraseña">
          <label class="error">{{errorMessage}}</label>

        </div>

        <button type="submit" (click)="tryLogin(loginForm.value)" class="btn btn-default" >Ingresar</button>
        </form>
    </div>

  </div>
          <div class="row">
              <div class="col-md-4 col-md-offset-4">
              <button type="button" class="btn btn-danger btn-block" (click)="tryGoogleLogin()">Login with Google</button>
              </div>
          </div>
          
          <div class="row">
            <div class="col-md-4 col-md-offset-4">
              <p>¿Aún no te has registrado?.<a href="/register">Registrate en STEAK</a></p>
            </div>
          </div>
        </div> 
</div> 

</div> <!--Final del div container fluid-->