<div class="container-fluid" style="text-align: center">
<br>
<br>

<div class="jumbotron jumbotron-fluid" style="text-align: center">

  <div style="text-align:center">
   
    <img width="250" alt="SteakLogo" src="../assets/logofondo.png">

  </div>
    
    <div class="col-md-10 col-md-offset-3">
              
    
<!-- Formulario de Inicio de Sesión-->      
<form [formGroup]="loginForm" (submit)="onSubmitLogin()">
            
  <div class="form-group">
                      
    <h1 class="titulo"><strong>Inicia Sesión con STEAK</strong></h1>
                      
  <!--Ingreso del correo electrónico en el formulario-->
                  
<input type="email" formControlName="email" class="form-control" [(ngModel)]="email" name="email" placeholder="Ingresa tu correo electrónico" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" >
                 
                  <!--Validación de Errores-->
                  <div class="titulo" *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div class="titulo" *ngIf="f.email.errors.required">Es necesario que ingreses tu email</div>
                  <div class="titulo" *ngIf="f.email.errors.email">El email ingresado es inválido</div>
                  </div>
  </div>

 <!--Ingreso de la contraseña en el formulario-->
<div class="form-group">
                      
<input type="password" formControlName="password" class="form-control" [(ngModel)]="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" name="password" placeholder="Ingresa tu contraseña">
                
                 <!--Validación de Errores-->
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div class="titulo"*ngIf="f.password.errors.required">Es necesario que ingreses tu contraseña</div>
                <div class="titulo" *ngIf="f.password.errors.minlength">Tu contraseña debe tener mínimo 6 caracteres</div>
                </div>
</div>

<div class="form-group">
  <button type="submit" class="boton3"><strong>Ingresar</strong></button>
</div>
<button class="boton3" (click)="forgotpassword()"> <strong> Olvidé mi Contraseña </strong></button>
 
  <p class="titulo" style="text-align: center"><strong>¿Aún no te has registrado?  <a href="/register">Registrate en STEAK</a></strong></p>
          
    
</form>
        

      </div>

  </div>
        

        
  
         
      </div> 