<div style="text-align:center">
    <br>
    <img width="74%" height="200pt"alt="Banner Bebidas" src="../assets/bannerbebidas.jpg">
    
    <div class="flex-container">
        <div>
              <img width="250" alt="Refrescos" src="../assets/coke.jpg"></div>
          <div>
            <br>
              <h1 class="titulos"><strong>Refrescos</strong> </h1>
            
          <div> 
              <h2 class="texto"> Ofrecemos los siguientes tipos de refrescos: Frescolita, CocaCola, 7up, Naranjita, Uva, Chicle, Manzana, Piña.  </h2>
              <button type="button" type="submit" weight="25pt" class="btn btn-primary" disabled>ORDENAR</button>
            </div>
        </div>
    </div>
  
    <div style="text-align:center">
        <div class="flex-container">
            <div>
                  <img width="250" alt="Te Frio" src="../assets/lemontea.jpg"></div>
              <div>
                  <br>
                  <h1 class="titulos"><strong>Te Frio</strong> </h1>
              <div> 
                 
                  <h2 class="texto">Delicioso Té Frío de limón o de durazno preparado por nosotros</h2> <button type="button" type="submit" weight="25pt" class="btn btn-primary" disabled>ORDENAR</button>
              </div>
            </div>
        </div>
    
      <div style="text-align:center">
              <div class="flex-container">
                  <div>
                        <img width="250" alt="Cerveza" src="../assets/beer.jpg"></div>
                    <div>
                        <br>
                        <h1 class="titulos"><strong>Cervezas</strong> </h1>
                    <div> 
                        <h2 class="texto">Cervezas industriales y artesanales: Polarsita, Solera Azul, Solera Verde, Zulia, Regional Light, Tovar.  </h2>
                        <button type="button" type="submit" weight="25pt" class="btn btn-primary" disabled>ORDENAR</button>
                    </div>
                  </div>
      </div> 
      
      <div style="text-align:center">
        <div class="flex-container">
            <div>
                  <img width="250" alt="Vino" src="../assets/wine.jpg"></div>
              <div>
                  <br>
                  <h1 class="titulos"><strong>Vino</strong> </h1>
              <div> 
                  <h2 class="texto">Valdivieso Merlot Chile, 2013.  </h2>
    
    
                  <button type="button" type="submit" weight="25pt" class="btn btn-primary" disabled>ORDENAR</button>
              </div>
            </div>
  </div>     
  
      <br>
      <br>
  
      <button type="button" type="submit"  class="titulo" onclick="location='../menu'" class="btn btn-primary">Volver al Menu</button>
      <br>
      <br>