<div style="text-align:center">
    <br>
    <img width="74%" height="200pt"alt="Banner Bebidas" src="../assets/bannerbebidas.jpg">
    <br>
    <br>
</div>

<app-agregar-item3></app-agregar-item3>

<div *ngIf="items.length > 0; else noItems">


        <table>
                <tr>
                    <th>Imgen</th>
                    <th>Plato</th>
                    <th>Descripción</th>
                    <th>Precio</th>  
                    <th></th>
                    <th></th>  
                </tr>
                <tr *ngFor="let item of items">
                    <div>
                        <td><img src="{{item.imagen}}" heigth="100px" width="100px" ></td>
                        <td>{{item.nombre}}</td>
                        <td>{{item.descripcion}}</td>
                        <td>{{item.precio}}</td>
                        <td><button><strong>ORDENAR</strong></button></td>
                        <td><button (click)="deleteItem($event, item)"><strong>ELIMINAR</strong></button></td>
                    </div>
                </tr>
        </table>
    
    
        <!--<ul *ngFor="let item of items" class="collection">
            <li class="collection-item">
                <img src="{{item.imagen}}">
                {{item.nombre}}
                {{item.descripcion}}
                Precio: {{item.precio}} Bs.S
            </li>
        </ul>-->
    </div>
    
    
    <ng-template #noItems>
        <hr>
        <h5>No hay objetos para visualizar</h5>
    </ng-template>