
<div>
    <div style="text-align:center">

        <img width="300" alt="SteakLogo" src="../assets/logo.png">
    </div>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

    <div style="text-align:center">
      <h2>Usuario: <input type="text"> </h2>
      <h2> Contraseña: <input type="password"> </h2>
      <button class="btn btn-primary" onclick="location='./home'">Login</button>
    <button class="btn btn-primary" onclick="location='./register'">Registro</button>
    </div>
    
</div>
