<div>
        <br>
            <div style="text-align:center">
                    <img width="300" alt="SteakLogo" src="../assets/logo.png">
            </div>
        <br>

        <h1 class="titulos2">
          Ingreso de Usuario
        </h1>
      
        <div>
          <form>
            <div class="container">
            
                <label for="usuario" class="titulos">Nombre de usuario</label>
                <input type="text" id="usuario" placeholder="Usuario">        
              
                <label for="clave" class="titulos">Clave</label>
                <input type="password" id="clave" placeholder="Ingrese su clave">
            </div>
          </form>
        <button class="btn btn-primary" onclick="location='./home'">Ingresar</button>
        <button class="btn btn-primary" onclick="location='./register'">Registrar</button>
        </div>
      </div>