<div>
        <img alt="Banner Aperitivos" src="../assets/banneraperitivos.png">
</div>

<div style="text-align:center">
   
        <div style="text-align:center">
                <br>
               
              </div>
              

              <div *ngIf="items.length > 0; else noItems">

                    <div *ngFor="let item of items" style="text-align: center">
                            <div *ngIf="item.disp || admin">
                                    <br>
                                    <app-menu-details [item]="item"></app-menu-details>
                                    <br>

            <button (click)="selectedItem($event, item)" class="titulos2"><strong>ORDENAR</strong></button>
            <button *ngIf="!editState && admin" (click)="editItem($event, item)" class="titulos2"><strong>MODIFICAR</strong></button>
            <button *ngIf="!editState && admin" (click)="deleteItem($event, item)" class="titulos2"><strong>ELIMINAR</strong></button>
                                   
            <h4>Extras disponibles:</h4>
                                    <input [(ngModel)]="item.selected1" name="extra1" class="check" type="checkbox" *ngIf="item.extra1 != ''"><label for="extra1">{{item.extra1}}</label>
                                    <input [(ngModel)]="item.selected2" name="extra2" class="check" type="checkbox" *ngIf="item.extra2 != ''"><label for="extra1">{{item.extra2}}</label>
                                    <input [(ngModel)]="item.selected3" name="extra3" class="check" type="checkbox" *ngIf="item.extra3 != ''"><label for="extra1">{{item.extra3}}</label>
                                    
                                

                                            <div class="jumbotron"  *ngIf="editState && itemToEdit.id == item.id">
                                                <form (ngSubmit)="updateItem(item)">
                             
                                                         <label><strong>--- MODIFICAR PLATO ---</strong></label>  
                                                         <br>  
                                                         <input type="checkbox" name="Disponible" [(ngModel)]="item.disp"> <label>Disponible</label>    
                                                               
                                                        <div>          <label for="nombre">  Nombre</label><br>
                                                            <input type="text" placeholder="Introduzca nombre del producto" [(ngModel)]="item.nombre" name="nombre">
                                                  
                                                            <br>
                                                        </div>
                                                                   
                                                        <div>   <label for="descripcion">  Descripción</label><br>
                                                            <input type="text" placeholder="Introduzca descripción del producto" [(ngModel)]="item.descripcion" name="descripcion">
                                                         
                                                            <br>
                                                        </div>
                                                                   
                                                        <div> <label for="precio"> Precio</label><br>
                                                            <input type="number" placeholder="Introduzca precio del producto" [(ngModel)]="item.precio" name="precio">
                                                           
                                                            <br>
                                                        </div>
                                                                   
                                                        <div><label for="imagen"> Imagen</label><br>
                                                            <input type="text" placeholder="Introduzca nombre del producto" [(ngModel)]="item.imagen" name="imagen">
                                                            <br>
                                                        </div>
                            
                                                        <div>          <label for="extra1">  Extra 1</label><br>
                                                            <input type="text" placeholder="Extra 1" [(ngModel)]="item.extra1" name="extra1">
                                                  
                                                            <br>
                                                        </div>

                                                        <div>          <label for="extra2">  Extra 2</label
                                                            ><br>
                                                            <input type="text" placeholder="Extra 2" [(ngModel)]="item.extra2" name="extra2">
                                                  
                                                            <br>
                                                        </div>

                                                        <div>          <label for="extra3">  Extra 3</label><br>
                                                            <input type="text" placeholder="Extra 3" [(ngModel)]="item.extra3" name="extra3">
                                                  
                                                            <br>
                                                        </div>
                                                       
                                                        <div>
                                                            <input type="submit" class="btn" value="Actualizar">
                                                        </div>  
                                                                   
                                                    
                                                </form>
                                            </div>
                                        <hr>
                                    </div>
                    </div>

              </div>
            
           
              
              <ng-template #noItems>
                  <hr>
                  <h5>No hay objetos para visualizar</h5>
              </ng-template>

             
              
            <div style="text-align: center">
            
                <app-agregar-item></app-agregar-item> 
            </div>