<div style="text-align:center">
   
    <br>
    <img width="74%" height="200pt"alt="Banner Aperitivos" src="../assets/banneraperitivos.jpg">
    <br>

<div class="container">
    <div class= "row">
        <div class= "col-12">
                

                <button type="button" class="btn btn-primary" (click)="openModal(template)">Open modal</button>
                <ng-template #template>
                  <div class="modal-header">
                    <h4 class="modal-title pull-left">Modal</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque delectus enim esse excepturi, impedit,
                      iste magnam officia optio, quam quis quisquam saepe sint unde velit vitae! Animi in iusto ut?</p>
                      <button type="button" class="btn btn-primary" popover="Vivamus sagittis">popover</button>
                      <button type="button" class="btn btn-primary" tooltip="Vivamus sagittis">tooltip</button>
                  </div>
                </ng-template>
                
       <!--     <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Titulo</h5>  
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                
                            </button>
                        </div>

                        <div class="modal-body">
                            Descripción
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>  
        </div>-->

        <div class= "col-xl-4 d-flex justify-content-center">
               
            <p>
                      <img width="250" alt="Carpaccio" src="../assets/Carpaccio.jpg">
               
               </p>
              
        </div>

        <div class= "col-xl-4 d-flex justify-content-between">
                <p>
                      <img width="250" alt="Carpaccio" src="../assets/Carpaccio.jpg">
               
               </p>
              
        </div>

        <div class= "col-xl-4 d-flex justify-content-around">
                <p>
                      <img width="250" alt="Carpaccio" src="../assets/Carpaccio.jpg">
               
               </p>
              
        </div>
    </div>  
</div>

</div>



 <!--         <div>
            <br>
              <h1 class="titulos"><strong>Carpaccio</strong> </h1>
            
          <div> 
              <h2 class="texto"> Trozos liliputienses de la mejor carne nacional con pimienta, aceite de oliva, queso parmesano, rúgula y una salsa especial.  </h2>
              <h3 class="texto">Precio: 300 Bs. S.</h3>
              <button type="button" type="submit" weight="25pt" class="btn btn-primary" disabled>ORDENAR</button>
            </div>
        </div>
    </div>
  
    <div style="text-align:center">
        <div class="flex-container">
            <div>
                  <img width="250" alt="Ensalada Cesar" src="../assets/CesarSalad.jpg"></div>
              <div>
                  <br>
                  <h1 class="titulos"><strong>Ensalada César</strong> </h1>
              <div> 
            
                  <h2 class="texto">Exquisitas ensalada con lechuga, cubos de pan tostado, queso parmesano, tiras de pollo y la suculenta salsa cesar.</h2>
                  <h3 class="texto">Precio: 300 Bs. S.</h3>
                  <button type="button" type="submit" weight="25pt" class="btn btn-primary" disabled>ORDENAR</button>
                </div>
            </div>
        </div>
    
      <div style="text-align:center">
              <div class="flex-container">
                  <div>
                        <img width="250" alt="Alitas de Pollo" src="../assets/Wings.jpg"></div>
                    <div>
                        <br>
                        <h1 class="titulos"><strong>Alitas de Pollo</strong> </h1>
                    <div> 
                        <h2 class="texto">Suculentas alitas de pollo horneadas o fritas (12 piezas), acompañadas de la salsa de su escogencia.  </h2>
                        <h3 class="texto">Precio: 300 Bs. S.</h3>
                        <button type="button" type="submit" weight="25pt" class="btn btn-primary" disabled>ORDENAR</button>
                    </div>
                  </div>
      </div> 
    </div>
      
  
      <br>
      <br>
  
      <button type="button" type="submit"  onclick="location='../menu'" class="btn btn-primary">Volver al Menu</button>
      <br>
      <br>

      -->