

<form (submit)="updatepassword()">
            
    <div class="form-group">
            
      <h1 class="titulo"><strong>Cambio de Contraseña</strong></h1>
          
    </div>
  
    <div class="form-group">
            
        <!--Ingreso de la contraseña en el formulario-->
            <input type="password" class="form-control" [(ngModel)]="oldpassword" name="password" placeholder="Ingresa tu contraseña actual">
    </div> 

    <div class="form-group">
            
        <!--Ingreso de la contraseña en el formulario-->
            <input type="password" class="form-control" [(ngModel)]="newpassword" name="password" placeholder="Ingresa tu contraseña actual">
    </div> 
    
    <button type="submit" class="boton3"><strong>Guardar</strong></button>

  </form>